@import 'header';
@import 'main';
@import 'promo';



body {
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
}

.container {
    max-width: 1194px;    
    margin: auto;
   
}

.button {
    display: inline-block;      
    border-radius: 25px;
            
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;        
    padding: 13px 52px;
    text-decoration: none;
}